.challenge-page {
  font-size: 18px;
  padding: 4%;
  margin-top: 50px;
  text-align: justify;
  line-height: 1.75rem;
  max-width: 770px;
}

.challenge-image {
  padding-bottom: 2%;
  padding-top: 5px;
  display: block;
}

.horizontal {
  width: 100%;
  max-width: 718px;
}

.reveal-button {
  display: block;
  background-color: #eee;
  border: none;
  padding: 8px;
}

strong {
  font-weight: 700;
}

.image-title {
  display: block;
  font-size: 18px !important;
  padding-top: 5px;
}
